<!DOCTYPE html>
<html>
<head>
    <title>JStack 分析工具</title>
</head>
<body>
    <h1>上传JStack文件</h1>
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <input type="file" name="jstackFile" accept=".txt">
        <button type="submit">分析</button>
    </form>
</body>
</html>